body {
	font-family: Arial, "宋体", Helvetica, sans-serif;
	font-weight: bold;
	line-height: 125%;
	color: lightgray;
	background: black url("bg.jpg") fixed;
}
div.slide {
	font-size: 24pt;
	padding: 5%;
	display: block;
	max-width: 960px;
	margin: 0 auto;
}
div.slide h1 {
	font-size: 120%;
	margin: .5em 0;
	padding: 0;
}
div.slide a {
	color: lightyellow;
}
div.slide a:hover {
	color: lightpink;
}
div.slide.titlepage h1.title {
	margin: 0 auto;
	padding: 200px 0 0 0;
	width: 800px;
	height: 100px;
	background-image: url("title.png");
	color: transparent;
	font-size: 180%;
}
div.slide.titlepage p.author,
div.slide.titlepage p.date {
	margin: 1em auto;
	padding: 0 120px;
	width: 560px;
	text-align: right;
	color: #725be4;
}
div.slide.toc h1 {
	font-size: 140%;
	text-align: center;
}
div.slide.toc ul {
	list-style-type: none;
	text-align: center;
	margin-top: 10%;
}
div.slide.toc ul li {
	list-style: none;
	font-size: 120%;
	text-indent: .3em;
	letter-spacing: .3em;
	line-height: 2em;
}
div.toolbar {
	height: 4%;
	border-top: solid 1px #333333;
	background-color: transparent;
	color: #cccc99;
}
div.toolbar a:link {
	color: #ccccff;
}
div.toolbar a:visited {
	color: #ccccff;
}
div.slidy_toc {
	background-color: black;
	font-weight: normal;
	color: #cccc99;
}
div.slidy_toc a {
	color: lightgray;
}
div.slidy_toc a:hover {
	color: red;
}
div.initial_prompt {
	background-color: transparent;
	color: gray;
}
img {
	display: block;
	margin: 1em auto;
	max-width: 80%;
}
div.acknowledge {
	text-align: center;
}
div.acknowledge h1 {
	margin-top: 30%;
	text-align: center;
	font-style: italic;
	font-size: 240%;
}
div.acknowledge a {
	margin-top: 10%;
	text-align: center;
	font-family: monospace;
}
pre {
	margin: 0;
	background-color: lightgray;
	overflow: auto;
}
pre.sourceCode {
	background-color: ghostwhite;
}
pre code, pre.sourceCode code {
	font-size: 75%;
	font-weight: bold;
}
